/* BOOTSTRAP */
.our_comb{
   padding-top: 10px;
 }
 
 .titleone{
   font-size: 30px;
   color: #fd3d00;
   font-family: 'Roboto Conderesed',sans-serif;
 }
 
 .titletwo{
   font-size: 20px;
   font-family: 'Poppins',sans-serif;
 }

 .logos{
   padding-top: 30px;
 }

 .img-shine{
   background-repeat: no-repeat;
   object-fit: cover;
   background-size: cover;
   overflow: hidden;
   position: relative;
 }

 .img-shine .img1{
   background-image:url('./assets/favicon3.png');
   width: 300px;
   height: 105px;
 }