/* BOOTSTRAP */
.our_comb{
   padding-top: 10px;
 }
 
 .titleone{
   font-size: 30px;
   color: #fd3d00;
   font-family: 'Roboto Conderesed',sans-serif;
 }
 
 .titletwo{
   font-size: 20px;
   font-family: 'Poppins',sans-serif;
 }